<%- include('partials/header') %>
<img id="homeImg" src="images/library.jpg" alt="">
<h1>Find User</h1>
<form class="" action="/findUser" method="post">
  <label class="labels" for="findUser">Customer ID</label>
  <input type="text" name="findUser" value="">
  <button class="btn btn-lg btn-outline-primary" type="submit" name="button">Go</button>
</form>




<%- include('partials/footer') %>
