<%- include('partials/header') %>

<div class="">
  <h1>Library Name</h1>

  <img id="homeImg" src="images/library.jpg" alt="">

  <form class="" action="/" method="post">
    <button class="btn btn-main-link1 btn-lg btn-outline-dark" type="submit" name="button1" value="true">Issue new book</button>
  </form>
  <form class="" action="/" method="post">
    <button class="btn btn-main-link2 btn-lg btn-outline-dark" type="submit" name="button2" value="true">Return issued book</button>
  </form>

</div>





<%- include('partials/footer') %>
