<%- include('partials/header') %>

<h1>Successfully <%= successResult %> book.</h1>
<img id="homeImg" src="images/library.jpg" alt="">
<form class="" action="/success" method="post">
  <button class="btn btn-lg btn-outline-primary successBtn" type="submit" name="button">Home</button>
</form>


<%- include('partials/footer') %>
